@{ 
    ViewData["Title"] = "Statystyki";
}

<section class="page-header">
    <h1 class="text-center">
        <i class="fa fa-stack-exchange"></i> Statystyki
        <span class="pull-right"><i class="fa fa-print"></i></span>
    </h1>

    <div class="menu">
        <ul class="list-inline">
            <li><a class="btn btn-lg">Ilość ogłoszeń</a></li>
            <li><a class="btn btn-lg">Średnia cena</a></li>
            <li><a class="btn btn-lg">Najpopularniejsze</a></li>
            <li><a class="btn btn-lg">Archiwum</a></li>
            <li><a class="btn btn-lg">Użytkownicy</a></li>
        </ul>
    </div>
</section>



<section class="content">
    <h1>Content</h1>
</section>