@{
    ViewData["Title"] = "Home Page";
}

<section class="most-popular">
    <h1 class="page-header text-center">
        <i class="fa fa-gavel"></i> Najpopularniejsze 
    </h1>

    <div class="row container-fluid">
        <ul class="top-vehicles">
            <li class="col-lg-3">
                <img class="img-responsive" src="~/images/audi.jpg" />
                <div class="top-description">
                    <h4 class="text-info">520 000 zł</h4>
                </div>
                <div class="bottom-description">
                    <h2>Audi R8</h2>
                </div>
            </li>
            <li class="col-lg-3">
                <img class="img-responsive" src="~/images/bugatti.jpg" />
                <div class="top-description">
                    <h4 class="text-info">1 220 000 zł</h4>
                </div>
                <div class="bottom-description">
                    <h2>Bugatti Veyron</h2>
                </div>
            </li>
            <li class="col-lg-3">
                <img class="img-responsive" src="~/images/ferrari.jpg" />
                <div class="top-description">
                    <h4 class="text-info">950 000 zł</h4>
                </div>
                <div class="bottom-description">
                    <h2>Ferrari 458 Italia</h2>
                </div>
            </li>
            <li class="col-lg-3">
                <img class="img-responsive" src="~/images/bmw.jpg" />
                <div class="top-description">
                    <h4 class="text-info">333 000 zł</h4>
                </div>
                <div class="bottom-description">
                    <h2>BMW M4</h2>
                </div>
            </li>
        </ul>
    </div>
</section>



<section class="filters">
    <h1 class="page-header text-center">
        <i class="fa fa-caret-right"></i> Filtruj 
    </h1>
</section>



<section class="offers container-fluid">
    <div class="row offer">
        <div class="offer-photo col-lg-2">
            <img src="~/images/bmw.jpg" />
        </div>
        <div class="offer-description col-lg-10">
            <h1>BMW M4</h1>
            <p>Przebieg: 10 000 km, Rok: 2014, Pojemność silnika: 3500 cm3</p>
            <h3>120 000 zł <button class="btn btn-info">Zobacz pełną ofertę</button></h3>
        </div>
    </div>

    <div class="row offer">
        <div class="offer-photo col-lg-2">
            <img src="~/images/bmw.jpg" />
        </div>
        <div class="offer-description col-lg-10">
            <h1>BMW M4</h1>
            <p>Przebieg: 10 000 km, Rok: 2014, Pojemność silnika: 3500 cm3</p>
            <h3>120 000 zł <button class="btn btn-info">Zobacz pełną ofertę</button></h3>
        </div>
    </div>

    <div class="row offer">
        <div class="offer-photo col-lg-2">
            <img src="~/images/bmw.jpg" />
        </div>
        <div class="offer-description col-lg-10">
            <h1>BMW M4</h1>
            <p>Przebieg: 10 000 km, Rok: 2014, Pojemność silnika: 3500 cm3</p>
            <h3>120 000 zł <button class="btn btn-info">Zobacz pełną ofertę</button></h3>
        </div>
    </div>
</section>