@{
    ViewData["Title"] = "Home Page";
}

<h1>Najpopularniejsze</h1>

<div class="row">
        <ul class="top-vehicles">
            <li class="col-lg-3">
                <img class="img-responsive" src="~/images/audi.jpg" />
            </li>
            <li class="col-lg-3">
                <img class="img-responsive" src="~/images/bugatti.jpg" />
            </li>
            <li class="col-lg-3">
                <img class="img-responsive" src="~/images/ferrari.jpg" />
            </li>
            <li class="col-lg-3">
                <img class="img-responsive" src="~/images/bmw.jpg"/>
            </li>
        </ul>
</div>
