@media print{

    body{
        padding-top: 0;
    }

    a[href]:after{
        content: none !important;
    }

    .navbar {
        display: block;
        border-width:0 !important;
        position: static;
    }
    .navbar-toggle {
        display:none;
    }

    .navbar .navbar-brand i{
        opacity: 1;
    }

    .navbar .navbar-brand div{
        position: absolute;
        top: 0;
        left: 110%;
        transition: left 0.5s;
    }


    .offer:nth-of-type(3n+2){ 
       page-break-after:left;
       page-break-inside: auto;
    }

    
    .offer:last-of-type{
        page-break-after: avoid;
    }

    .offer.average-price:nth-of-type(3n+2){
       page-break-after: avoid;
       page-break-inside: avoid;
    }

    .offer.average-price:nth-of-type(10n+7){
       page-break-after: always;
       page-break-inside: auto;
    }

    .offer.average-price:last-of-type{
        page-break-after: avoid;
    }


    .details .details-offer{
        page-break-after: always;
    }


}